*{
    font-family: 'Martian Mono', monospace;
    margin: 0;
    font-weight: normal;
}

body {
    padding: 0px 80px 0px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #222222;
    color: #dddddd;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px;
    gap: 8px;
}

header h3{
    font-size: 18px;
    color: #505050;
}

header h1{
    letter-spacing: 7px;
    font-weight: 800;
}

main {
    padding: 0 200px 0 200px;
    padding-top: 0px;
}

article {
    margin: 5rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

article h2{
    padding-top: 40px;
    font-weight: 600;
}


footer {
    position: fixed;
    bottom: 0;
    padding: 10px;
    text-align: center;
    background-color: #fff;
}

.post {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
